.ArticleViewSelector {
    .notSelected {
        fill: var(--secondary-color);
    }
}

.ArticleViewSelectorRedesigned {
    .notSelected {
        color: var(--hint-redesigned);
    }

    .notSelected:hover {
        color: var(--accent-redesigned);
        fill: var(--accent-redesigned);
    }
}
