.Icon {
    color: var(--icon-redesigned);
}

.Icon:hover {
    color: var(--accent-redesigned);
}

.Icon .inheritColor .clickable {
    color: var(--accent-redesigned);
}

// .Icon :not(.clickable) :hover .inheritColor {
//    color: red;
// }

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

.button .inheritColor {
    color: inherit;
    cursor: inherit;
}
